<div class="full-container">
  <div class="m-3 pb-3 container-Title">
    <div class="flex align-items-center gap-3">
      <button mat-stroked-button class="btn-Return" (click)="return()">
        <i class="material-icons">arrow_back_ios</i>
      </button>
      <h3>{{'Apuntes de ' + this.srvMateria.materia.nombre}}</h3>
    </div>

    <div class="">
      <button class="btn-agg" (click)="openModal('Agregar Apunte', this.idMateria)">
        <i class="material-icons">add</i>
        <p>Agregar Apunte</p>
      </button>
    </div>
  </div>

  <div *ngIf="">
    <div>
      <label for="">No existen apuntes para esta materia :(</label>
    </div>
  </div>

  <div class="grid mx-2">

    <div class="col-12" *ngFor="let apunte of srvApuntes.datosApuntes, let i = index">

      <mat-card class="flex-row align-content-center" *ngIf="apunte.idMateria === this.idMateria">
        <mat-card-content class="container-Content">
          <div class="uppercase">
            {{apunte.apunteTitulo}}
          </div>
          <div>
            {{this.srvMateria.materia.nombre}}
          </div>
          <div>
            {{apunte.fechaCreacion.date.day}}-{{apunte.fechaCreacion.date.month}}-{{apunte.fechaCreacion.date.year}}
          </div>
          <div>
            <button mat-stroked-button
              (click)="openModalEdit('Editar Apunte', apunte.id)"
            >
              <i class="material-icons">edit</i>
            </button>
            <button mat-stroked-button
              (click)="deleteApunte(apunte.id)"
            >
              <i class="material-icons btn-Delete">delete</i>
            </button>
            <button mat-stroked-button [disabled]="apunte.apunteIdeas === '' || apunte.apunteResumen === ''" (click)="contenidoModal('Contenido Apunte', apunte.id)">
              <i class="material-icons">tips_and_updates</i>
            </button>
          </div>
        </mat-card-content>
      </mat-card>

    </div>
  </div>
</div>


