.container-Title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid var(--secondary-color);
}

.container-Content{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.btn-Delete{
  color: var(--secondary-color);
}

.btn-Edit{
  color: var(--secondary-color);
}

.btn-GPT{
  color: rgb(25, 195, 125);
}

.btn-Content:disabled{
  background-color: var(--quaternary-color);
}

.btn-Return{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  width: 30px !important;
}


  /* ------------------ */

#ground{
  margin: -0.6rem !important;
}

#containerApuntes{
  border: 1px solid black;
  border-radius: var(--border-radius-4);
}

.lbl-Title{
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-18);
}
