<div class="modal-Body">
  <div class="modal-Title px-2">
    <p>{{titleModal}}</p>
    <button mat-button mat-dialog-close class="btn-Close">
      <i class="material-icons">close</i>
    </button>
  </div>
  <div mat-dialog-content class="modal-Content">
    <ng-container [ngSwitch]="titleModal">

      <div *ngSwitchCase="'Agregar Materia'">
        <app-agregar-materia></app-agregar-materia>
      </div>

      <div *ngSwitchCase="'Editar Materia'">
        <app-editar-materia></app-editar-materia>
      </div>

      <div *ngSwitchCase="'Editar Horario'">
        <app-editar-horario></app-editar-horario>
      </div>

      <div *ngSwitchCase="'Agregar Apunte'">
        <app-agregar-apunte></app-agregar-apunte>
      </div>

      <div *ngSwitchCase="'Editar Apunte'">
        <app-editar-apunte></app-editar-apunte>
      </div>

    </ng-container>
  </div>
  <div class="modal-Actions px-2">
    <button mat-button (click)="closeModal()" class="btn-Cancel">Cancelar</button>
  </div>
</div>
