.modal-Body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.modal-Title{
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.modal-Title p{
  font-weight: var(--font-weight-500);
}

.btn-Close{
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  cursor: pointer;
  width: 60px;
  border-radius: 6px;
  border: 0.5px solid #ccc;
}

.border-line{
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.btn-Close:hover{
  background-color: red;
  color: var(--tertiary-color);
}

.btn-Cancel{
  background-color: var(--quinary-color);
  color: var(--tertiary-color);
  cursor: pointer;
}

.btn-Cancel:hover{
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
}

.modal-Actions{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px;
}
