<div class="full-container">
    <div class="m-3 grid">
      <div class="col-6">
  
        <h1>Oops!</h1>
        <h4>Lo sentimos, no tiene los permisos para acceder a esta página.</h4>
        <!--INAUTORIZADO-->
        <p>INAUTORIZADO</p>
        <button mat-stroked-button class="btn-Return" routerLink="/">
          <i class="material-icons">exit_to_app</i>
          Regresar a Inicio
        </button>
  
  
  
      </div>
      <div class="col-6">
        <img class="img-Error" src="../../../../assets/img/error404.jpg" alt="">
      </div>
    </div>
  </div>
  