<div class="header-Container">

    <mat-toolbar class="mat-toolbar cont-Header">

      <div>
        <button type="button" mat-icon-button (click)="drawer.toggle()">
          <i class="material-icons" id="id-menu">menu</i>
        </button>
        <h2>ClassBudy</h2>
      </div>

      <div>

        <div class="flex gap-2">
          <i class="material-icons" id="id-menu">account_circle</i>
          <label for="">Hola, {{this.srvUsuario.usuarioData.nombre}}</label>
        </div>

        <button mat-icon-button [matMenuTriggerFor]="menu">
          <i class="material-icons">arrow_drop_down</i>
        </button>
        <mat-menu #menu="matMenu" class="grid">
          <button class="col-12 btn-Menu" routerLink="/me/settings">
            <i class="material-icons">settings</i>
            <span>Mi cuenta</span>
          </button>
          <button class="col-12 btn-Menu" (click)="cerrarSesion()" >
            <i class="material-icons">exit_to_app</i>
            <span>Cerrar Sesión</span>
          </button>
        </mat-menu>
      </div>
  </mat-toolbar>
  <mat-drawer #drawer class="sideBar-Container" mode="side" >

    <div class="menu-Container my-2">
      <button type="button" mat-icon-button (click)="drawer.toggle()">
        <i class="material-icons">menu</i>
      </button>
    </div>

    <div class="menu-Options">
      <div class="container-Options">
        <button mat-button class="btn-Option" routerLink="/me/welcome">
          <i class="material-icons">home</i>
          <p>Inicio</p>
        </button>
        <button mat-button class="btn-Option" routerLink="/me/schedule">
          <i class="material-icons">calendar_month</i>
          <p>Horario</p>
        </button>
        <button mat-button class="btn-Option" (click)="sendBool()" routerLink="/me/signatures">
          <i class="material-icons">collections_bookmark</i>
          <p>Materias</p>
        </button>
        <button mat-button class="btn-Option" routerLink="/me/homeworks">
          <i class="material-icons">list_alt</i>
          <p>Tareas</p>
        </button>
        <button *ngIf="this.permiso!" mat-button class="btn-Option" routerLink="/me/reports">
          <i class="material-icons">description</i>
          <p>Reportes</p>
        </button>
      </div>

      <div class="container-Settings">
        <button mat-button class="btn-Option" routerLink="/me/settings">
          <i class="material-icons">person</i>
          <p>Mi cuenta</p>
        </button>
      </div>
    </div>
  </mat-drawer>

</div>

