.header-Container{
  height: 100%;
}

.mat-toolbar-single-row{
  height: 10vh;
}

.example-spacer {
  flex: 1 1 auto;
}

.sideBar-Container {
  background-color: var(--secondary-color);
}

mat-drawer {
  width: 200px;
}

.btn-Toggle{
border-radius: 20px;
border: 3px solid var(--tertiary-color);
background-color: var(--secondary-color);
width: 60px;
height: 30px;
}

.btn-Toggle:hover{
  background-color: var(--quinary-color);
}


.menu-Title{
  display: grid;
  place-items: center;
}

.mat-toolbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
}

.material-icons{
  cursor: pointer;
}

#i-menu{
  color: var(--tertiary-color);
}

.span-Title{
  font-size: var(--title-font-size);
  font-weight: var(--font-weight-600);
  color: var(--tertiary-color);
}

.mat-toolbar div{
  display: flex;
  align-items: center;
}

.btn-Menu{
display: flex;
align-items: center;
justify-content: space-between;
gap: 10px;
width: 100%;
}

.menu-Container, .menu-Options, .menu-Settings{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menu-Options{
  gap: 20px;
  align-items: center;
}

.menu-Settings{
  gap: 20px;
  align-items: center;
}

.menu-Container{
  justify-content: space-between;
  height: 85%;
}

.btn-Option{
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 20px;
  cursor: pointer;
  width: 85%;
}

.btn-Option i, p{
  color: var(--tertiary-color);
}

.btn-Option:hover{
  background-color: var(--tertiary-color);
}

.btn-Option:hover i, .btn-Option:hover p{
  color: var(--secondary-color);
}

.btn-Option p{
  display: flex;
  align-items: center;
  font-size: var(--font-size);
}


