.header-Container{
  height: 100%;
}

.cont-Header{
  background-color: var(--primary-color);
  color: var(--tertiary-color)
}


.mat-toolbar-single-row{
  height: 10vh;
}

.example-spacer {
  flex: 1 1 auto;
}

.sideBar-Container {
  display: flex;
  flex-direction: row;
  background-color: var(--secondary-color);
}

mat-drawer {
  width: 200px;
}

.menu-Container{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--tertiary-color);
  width: 100%;
}

.mat-toolbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-toolbar div{
  display: flex;
  align-items: center;
}

.btn-Menu{
  background: none;
  border: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35px;
}

.menu-Options, .container-Options, .container-Settings{
  display: flex;
  flex-direction: column;
}

.menu-Options{
  height: 85%;
  justify-content: space-between;
}

.container-Options{
  gap: 20px;
}

.btn-Option{
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 10px;
}

.btn-Option i, p{
  color: var(--tertiary-color);
}

.btn-Option:hover{
  background-color: var( --quinary-color);
}
