.container{
    width: 95%;
    height: 100%;
    display: flex;
}

/* .grid.m-2{
    margin: 1px;
} */

@media screen and (max-width: 1086px) {
    /* Estilos para dispositivos móviles con ancho máximo de 600px */
    .container{
        flex-direction: column;
    }

    .cont-admins{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 40px;
    }
}
    