.container h2 {
    padding: 20px;
    justify-content: center;
    display: grid;
}
.cont-flex{
    display: flex
}

.img{
    width: 600px;
    height: -webkit-fill-available;
}

.cont-img{
    width: 70%;
    height: -webkit-fill-available;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer {
    position:relative;
    height: -webkit-fill-available;
    /* width: 30%; */
    width: -webkit-fill-available;
  }
  
  .calendar {
      margin: 0 auto;
    max-width: 1280px;
    min-width: 500px;
  
    box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.2) ,0px 3px 7px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  .wrap {
  
    overflow-x: hidden;
    /* overflow-y: scroll; */
      max-width: 1280px;
    /* height: 500px; */
    height: 480px;
    border-radius: 8px;
  }
  
  thead {
      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  }
  
  thead th {
  
    text-align: center;
    width: 100%;
  
  }
  
  header {
    background: #fff;
    padding: 1rem;
    color: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px 8px 0px 0px;
  }
  
  header h1 {
   font-size: 1.25rem;
   text-align: center;
   font-weight: normal;
  
  }
  tbody {
      position: relative;
    top: 20px;
  }
  table {
    background: #fff;
    width: 100%;
    /* height: 100%; */
    height: 80%;
    border-collapse: collapse;
    table-layout: fixed;
  
  }
  
  
  
  .headcol {
    width: 60px;
    font-size: 0.875rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    padding: 0.25rem 0;
    text-align: center;
    border: 0;
    position: relative;
    top: -12px;
    border-bottom: 1px solid transparent;
  }
  
  thead th {
    font-size: 1rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.9);
    padding: 1rem;
  }
  
  thead {
      z-index: 2;
      background: white;
      border-bottom: 2px solid #ddd;
  
  }
  
  tr, tr td {
    height: 20px;
  }
  td {
    text-align: center;
  }
  tr:nth-child(odd) td:not(.headcol) {
    border-bottom: 1px solid #e8e8e8;
  }
  
  tr:nth-child(even) td:not(.headcol) {
    border-bottom: 1px solid #eee;
  }
  
  tr td {
    border-right: 1px solid #eee;
    padding: 0;
    white-space: none;
    word-wrap: nowrap;
  }
  
  tbody tr td {
    position: relative;
    /* vertical-align: top; */
    height: 40px;
    padding: 0.25rem 0.25rem 0 0.25rem;
    width: auto;
  
  }
  
  .secondary {
    color: rgba(0, 0, 0, 0.4);
  }

  /*   TAREAS PENDIENTES   */
  .tareas-pendientes{
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-evenly;
    align-items: center;
    margin: 0 20px 0 20px;
    gap: 20px;
    border-radius: 8px;
    padding: 20px;
    border: #ccc solid 1px;
  }

  .cont-tarea{
    align-items: center;
    display: grid;
    width: 255px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.2) ,0px 3px 7px rgba(0, 0, 0, 0.1);
    gap: 10px;
    text-align: center;
  }

  .cont-tittle{
    border-bottom: #ccc solid 1px;
    padding-bottom: 10px;
  }

  .cont-tittle h3{
    font-size: 20px;
    font-weight: 600;
  }

  .cont-tittle p{
    font-size: 13px;
    color: #ccc;
    padding-top: 5px;
  }

  .cont-datetime{
    text-align: end;
    color: #ccc;
    font-size: 12px;
  }
  
  @media screen and (max-width: 786px) {
    /* Estilos para dispositivos móviles con ancho máximo de 600px */
    .cont-img {
      display: none;
    }
  
    .outer{
        width: 100%;
    }
    
    tbody tr td {
        width: unset;
      
      }

      .tareas-pendientes {
        flex-direction: column;
        gap: 20px;
      }

      .cont-flex{
        display: grid;
    }
    table{
      height: 0;
    }
  }

  /* Agregamos media queries para ajustar los estilos en diferentes tamaños de pantalla */
@media screen and (min-width: 768px) {
  .tareas-pendientes {
    flex-wrap: wrap; /* Permite que los divs se envuelvan en varias líneas */
  }

  .cont-tarea {
    width: calc(33.33%); /* Dividimos en dos columnas, con un espacio entre ellas */
  }
}

@media screen and (min-width: 1200px) {
  .cont-tarea {
    width: calc(25% - 20px); /* Dividimos en tres columnas, con un espacio entre ellas */
  }
}