<div class="full-container">
  <form action="" [formGroup]="myForm" >
    <div>
      <mat-form-field class="w-12">
        <mat-label>Título</mat-label>
        <input matInput placeholder="Título del Apunte" formControlName="apunteTitulo" required>
      </mat-form-field>

      <mat-form-field class="w-12">
        <mat-label>Materia</mat-label>
        <mat-select formControlName="idMateria">
          <mat-option >-- Seleccione --</mat-option>
          <mat-option
            *ngFor="let materia of srvMateria.datosMateria, let i = index"
            [value]="materia.id">{{materia.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <mat-form-field class="w-12">
        <mat-label>Contenido</mat-label>
        <textarea matInput placeholder="Contenido del Apunte" formControlName="apunteTexto"></textarea>
      </mat-form-field> -->

      <mat-form-field>
        <mat-label>Tiempo de Recordatorio</mat-label>
        <input type="time" matInput [(ngModel)]="value_string_time" formControlName="apunteRecordatorio">
    </mat-form-field>

    <div class="w-12">
      <div class="container-WordOptions">
        <div class="div-FontSize">
          <!-- <div class="">
            <span class="span-Container" id="font-size-indicator"></span>
          </div> -->
          <div class="container-Text">
            <button mat-stroked-button class="btn-Word" (click)="increaseFontSize()">
              <i class="material-icons">text_increase</i>
            </button>
            <button mat-stroked-button class="btn-Word" (click)="decreaseFontSize()">
              <i class="material-icons">text_decrease</i>
            </button>
          </div>
        </div>
        <div>
          <div>
            <button mat-stroked-button class="btn-Word" (click)="toggleBold()">
              <i class="material-icons">format_bold</i>
            </button>
            <button mat-stroked-button class="btn-Word" (click)="toggleItalic()">
              <i class="material-icons">format_italic</i>
            </button>
            <button mat-stroked-button class="btn-Word" (click)="toggleUnderline()">
              <i class="material-icons">format_underline</i>
            </button>
          </div>

          <div>
            <button mat-stroked-button class="btn-Word" (click)="alignLeft()">
              <i class="material-icons">format_align_left</i>
            </button>
            <button mat-stroked-button class="btn-Word" (click)="alignCenter()">
              <i class="material-icons">format_align_center</i>
            </button>
            <button mat-stroked-button class="btn-Word" (click)="alignRight()">
              <i class="material-icons">format_align_right</i>
            </button>
            <button mat-stroked-button class="btn-Word" (click)="alignJustify()">
              <i class="material-icons">format_align_justify</i>
            </button>
          </div>
        </div>
      </div>
      <div id="text-editor" class="text-editor" #textResume contenteditable="true" [innerText]="myForm.get('apunteTexto')?.value" (input)="onInput($event)" dir="ltr"></div>
    </div>

      <div class="container-Btn mt-3">
        <button mat-button class="btn-Save" (click)="saveApunte()" [disabled]="myForm.invalid">
          Agregar
        </button>
      </div>

    </div>
  </form>
</div>
