<div class="container" *ngIf="TypeView ===0" >
    <div class="m-3 container-Title">

        <div>
            <h1>Administradores</h1>
        </div>

        <div class="">
            <button class="btn-agg" (click)="view(1)">
                <i class="material-icons">add</i>
                <p>Agregar Administrador</p>
            </button>
        </div>
    </div>
    <div>
        <mat-form-field class="example-full-width">
            <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar">
          </mat-form-field>
    </div>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let admin; let i = index">{{ getRowIndex(i) }}</td>
          </ng-container>
      
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let admin">{{ admin.nombre }} {{ admin.apellido }}</td>
          </ng-container>
      
          <ng-container matColumnDef="telefono">
            <th mat-header-cell *matHeaderCellDef>Teléfono</th>
            <td mat-cell *matCellDef="let admin">{{ admin.telefono }}</td>
          </ng-container>
      
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let admin">
              <button mat-icon-button color="primary" (click)="view(2)" >
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="primary" >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
      
</div>

<div *ngIf="TypeView==1" >
<button (click)="regresar()">regresar</button>
<app-agregar-admins></app-agregar-admins>
</div>

<div *ngIf="TypeView==2" >
  <button (click)="regresar()">regresar</button>
  <app-editar-admins [idAdmin]="idAdmin"></app-editar-admins>
</div>