/* Variables Globales de Angular Material */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
--bs-gray-ccc: #ccc;
--font-family: "Roboto", Arial, sans-serif;
--font-weight-bold: 600;
}

/* Variables Globales Designadas */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
