@import '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';
/* Variables Globales de Angular Material */
*{
  margin:0;
  /*overflow: hidden;*/
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 100vw;
  height: 100vh;
}

input:focus {
  background-color: transparent
}

:root{
  /*Colores*/
  --primary-color: #172C3C;
  --secondary-color: #1E1E1E;
  --tertiary-color: #FFFF;
  --quaternary-color: #D6D6D6;
  --quinary-color: #686868;
  --color-Black: #000;
  --color-White: #fff;
  --color-Shadow: #efefef;
  --color-Delete: #990303;

  /*Fuentes*/
  --primary-color-text: #FFFFFF;

  /*Tamaños*/
  --title-font-size: 24px;
  --font-size: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;

  /*weight*/
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;

  /*Otros*/
  --border-radius: 6px;
  --border-radius-4: 4px;
}



/* Variables Globales Designadas */
.full-Container{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container-Title{
  display: flex;
  /* flex-direction: column;
  gap: 10px; */
  justify-content: space-between;
  border-bottom: 1px solid var(--quaternary-color);
  padding-bottom: 20px;
  flex-direction: row;
  gap: 10px;
}
.full-containerRegistro{
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  justify-content: center;

}

.btn-agg {
  width: 150px;
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 6px;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  gap: 10px;
  cursor: pointer;
}

.btn-agg:hover {
  background-color: var(--quinary-color);
  color: var(--tertiary-color);
}

.mat-mdc-form-field {
  width: -webkit-fill-available;
}

form{
  width: -webkit-fill-available;
}

/*----------Botón agregar de modal---------------*/
.modal-Button {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}

.modal-Button button {
  width: 100%;
  color: var(--tertiary-color);
  background-color: var(--primary-color);
}

/*botón desabihilitado*/
.modal-Button button:disabled {
  background-color: var(--quinary-color);
}
