<div class="grid m-2">
  <div class="" *ngIf="this.viewNotes === true">
    <router-outlet></router-outlet>
  </div>

  <div class="grid col" *ngIf="this.viewNotes === false">

    <div class="col-12 flex justify-content-between">
      <div>
        <h3>Mis Materias</h3>
      </div>

      <div class="">
        <button class="btn-agg" (click)="openModal('Agregar Materia')">
          <i class="material-icons">add</i>
          <p>Agregar Materia</p>
        </button>
      </div>
    </div>

    <div class="col-12 flex flex-wrap gap-3">
        <div class="card flex align-items-center justify-content-between" id="containerMaterias" [style.background-color]="materia.materiaColor" *ngFor="let materia of srvMateria.datosMateria, let i = index">
          <div class="card-container p-3 w-12 justify-content-between">

              <div class="flex align-items-center">
                <label for="" id="lbl-Title">{{materia.nombre}}</label>
              </div>

              <div class="flex gap-3">
                <button mat-raised-button (click)="openModalEdit('Editar Materia', materia.id)">
                  <i class="material-icons btn-Edit">create</i>
                </button>

                <button mat-raised-button (click)="deleteMateria(materia.id)">
                  <i class="material-icons btn-Delete">delete</i>
                </button>
                <button mat-raised-button (click)="sendIdMateria(materia.id)" routerLink="/me/signatures/notes">
                  <i class="material-icons btn-Notes">sticky_note_2</i>
                </button>
              </div>

          </div>
        </div>
    </div>

  </div>

</div>
