<div class="full-container">
    <div class="m-3 container-Title">

      <div>
        <h1>Mis Materias</h1>
      </div>

      <div class="">
        <button class="btn-agg" (click)="openModal('Agregar Materia')">
          <i class="material-icons">add</i>
          <p>Agregar Materia</p>
        </button>
      </div>
    </div>

      <mat-grid-list cols="4" rowHeight="2:1">
        <div class="card-container">
            <div class="card" *ngFor="let nombre of srvMateria.datosMateria, let i = index">
              <div class="flex">
                <mat-card class="flex-1 md:flex-none flex align-items-center justify-content-center font-bold border-round custom-card">
                  <button class="btn-mat-card" [style.background-color]="nombre.materiaColor">
                    <mat-card-header>
                      <mat-card-content>
                        {{ nombre.nombre }}
                        {{nombre.profesorNombre}}
                      </mat-card-content>

                      <mat-card-title-group>
                        <button mat-button (click)="openModalEdit('Editar Materia', nombre.id)">
                          <i class="material-icons">create</i>
                        </button>
                      </mat-card-title-group>
                    </mat-card-header>
                  </button>
                </mat-card>
              </div>
            </div>
          </div>

      </mat-grid-list>





  </div>

