<div class="full-container">
  <div *ngIf="this.viewNotes === true">
    <router-outlet></router-outlet>
  </div>
  <div *ngIf="this.viewNotes === false">
    <div class="m-3 pb-3 container-Title">

      <div>
        <h3>Mis Materias</h3>
      </div>

      <div class="">
        <button class="btn-agg" (click)="openModal('Agregar Materia')">
          <i class="material-icons">add</i>
          <p>Agregar Materia</p>
        </button>
      </div>
    </div>

    <mat-grid-list cols="4" rowHeight="2:1">
      <div class="card-container">
        <div class="card" *ngFor="let materia of srvMateria.datosMateria, let i = index">
          <div class="grid">
            <mat-card
              class="flex-1 md:flex-none flex align-items-center justify-content-center font-bold border-round custom-card gap-3"
              id="mat-Card" [style.background-color]="materia.materiaColor">
              <mat-card-header>
                <mat-card-title>
                  <h2 class="text-white">
                    {{ materia.nombre }}
                  </h2>
                </mat-card-title>
              </mat-card-header>
              <mat-card-actions class="gap-3">
                <button mat-raised-button (click)="openModalEdit('Editar Materia', materia.id)">
                  <i class="material-icons ">create</i>
                </button>

                <button mat-raised-button (click)="deleteMateria(materia.id)">
                  <i class="material-icons">delete</i>
                </button>
                <button mat-raised-button (click)="sendIdMateria(materia.id)" routerLink="/me/signatures/notes">
                  <i class="material-icons">sticky_note_2</i>
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
    </mat-grid-list>

  </div>

</div>
