
.fullBody-Container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.content-Container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding: 10px;
  flex: wrap;

}

.img-Container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  background-color: var(--quaternary-color); 
  /* width: -webkit-fill-available; */

}

.img-Container img {
  /* width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius); */
  width: -webkit-fill-available;

}

.login-Container {
  width: 35%;
  height: 100%;
  max-width: 400px;
}

.login-Header {
  width: 100%;
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px 6px 0px 0px;
  background-color: var(--primary-color);
  border-bottom: 1px solid #5f5e5e;
  color: var(--tertiary-color);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.login-Body {
  height: 92%;
  padding: 0px 30px 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-Shadow);
  gap: 5px;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.login-Body label {
  color: var(--quinary-color);
}

.modal-Button {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}

.modal-Button button {
  width: 100%;
  color: var(--tertiary-color);
  background-color: var(--primary-color);
}

/*botón desabihilitado*/
.modal-Button button:disabled {
  background-color: var(--quinary-color);
}


.mat-mdc-form-field {
  width: -webkit-fill-available;
}

.login-Option {
  width: 100%;
  height: 35%;
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 5px;
}

.login-Option li {
  list-style: none;
  padding-bottom: 20px;
}

.login-Option p {
  color: var(--quinary-color);
  font-weight: var(--font-weight-500);
}

.login-Option a {
  color: var(--primary-color);
  font-weight: var(--font-weight-500);
  cursor: pointer;
}

@media screen and (max-width: 786px) {
  /* Estilos para dispositivos móviles con ancho máximo de 600px */
  .img-Container {
    display: none;
  }

  .login-Container {
    width: 100%;
    max-width: none;
  }

  .login-Header {
    display: none;
  }

  .login-Body {
    border-radius: var(--border-radius);
  }
}
/*----------------------------IMAGEN-----------------------------*/
/*
.carousel-fade {
  .carousel-inner {
      .item {
          transition-property: opacity;
      }
      
      .item,
      .active.left,
      .active.right {
          opacity: 0;
      }

      .active,
      .next.left,
      .prev.right {
          opacity: 1;
      }

      .next,
      .prev,
      .active.left,
      .active.right {
          left: 0;
          transform: translate3d(0, 0, 0);
      }
  }

  .carousel-control {
      z-index: 2;
  }
}



html, 
body, 
.carousel, 
.carousel-inner, 
.carousel-inner .item {
  height: 100%;
}

.item:nth-child(1) {
  background: #74C390;
}

.item:nth-child(2) {
  background: #51BCE8;
}

.item:nth-child(3) {
  background: #E46653;
}
*/