<div class="fullBody-Container">
  <div class="content-Container">
    <div class="img-Container">
      <!-- <img src="../../../../assets/img/incio.png" alt=""> -->
      <!-- <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel" data-slide-to="0" class="active"></li>
          <li data-target="#carousel" data-slide-to="1"></li>
          <li data-target="#carousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
          <div class="active item"></div>
          <div class="item"></div>
          <div class="item"></div>
        </div>

        <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
      </div> -->
  

      <div class="container">
        <button (click)="openFilePicker()" class="upload-btn">
          <i class="material-icons">settings</i>
        </button>
        <div class="carousel">
          <div *ngFor="let image of images" class="carousel-item">
            <img [src]="image.url" alt="Imagen" />
            <button (click)="deleteImage(image)" class="delete-btn">Eliminar</button>
          </div>
        </div>
      </div>


    </div>

    <div class="login-Container">
      <div class="login-Header">
        <p>Iniciar Sesión</p>
      </div>

      <div class="login-Body">

        <form [formGroup]="loginForm">

            <label>Correo Electrónico</label>
            <mat-form-field>
              <mat-label>Ingrese su Correo</mat-label>
              <input matInput placeholder="pat@example.com" [formControl]="email" formControlName="email">
              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <label>Contraseña</label>
            <mat-form-field>
              <mat-label>Ingrese su Contraseña</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide" >
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>


          <div class="modal-Button">
            <button mat-raised-button color="primary" (click)="submitForm()" [disabled]="loginForm.invalid">Iniciar Sesión</button>
          </div>
        </form>

        <div class="login-Option">
          <p> No tienes cuenta? </p>
          <li>
            <a routerLink="/auth/registro">Registrarse</a>
          </li>
          <p> Olvidaste tu contraseña? </p>
          <li>
            <a routerLink="/auth/recuperar">Recuperar</a>
          </li>
        </div>

      </div>
    </div>
  </div>
</div>
