<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js" ></script>
<div class="cardBox">

    <div class="card">
        <div>
            <div class="numbers" >15012</div>
            <div class="cardName" > Usuarios</div>
        </div>
        <div class="iconBx">
            <mat-icon>supervised_user_circle</mat-icon>
        </div>
    </div>

    <div class="card">
        <div>
            <div class="numbers" >29157</div>
            <div class="cardName" > Materias</div>
        </div>
        <div class="iconBx">
            <mat-icon>play_circle_filled</mat-icon>
        </div>
    </div>

    <div class="card">
        <div>
            <div class="numbers" >10</div>
            <div class="cardName" > Administradores</div>
        </div>
        <div class="iconBx">
            <mat-icon>how_to_reg</mat-icon>
            <!-- <i class="matrial-icon">person</i> -->
        </div>
    </div>
</div>

<div class="graphBox">
    <div class="box" ></div>
    <div class="box" ></div>


</div>