<div class="full-container">
  <form action="">
    <div class="grid">

      <div class="container-Left col">
        <label for="" class="mb-2">Materia</label>
        <mat-form-field appearance="fill" class="w-12">
          <mat-label>Materia</mat-label>
          <input matInput placeholder="Ex. Matemática">
        </mat-form-field>
        <label for="" class="mb-2">Color</label>
        <mat-form-field appearance="fill" class="w-12">
          <div class="color-picker">
            <label for="colorPicker">
            </label>
          </div>
        </mat-form-field>
      </div>

      <div class="container-Right col">
        <label for="" class="mb-2">Acrónimo</label>
        <mat-form-field appearance="fill" class="w-12">
          <mat-label>Acrónimo</mat-label>
          <input matInput placeholder="Ex. Mat">
        </mat-form-field>
        <label for="" class="mb-2">Profesor</label>
        <mat-form-field appearance="fill" class="w-12">
          <mat-label>Profesor</mat-label>
          <input matInput placeholder="Ex. Homero Ojeda">
        </mat-form-field>
      </div>

    </div>

    <div class="container-Btn">
      <button mat-button class="btn-Save">
        Agregar
      </button>
    </div>

  </form>

</div>
