

<div class="contenedor-Full">

  <div class="fill"></div>

  <div class="container-Background">
    <img class="imgBackground-Uno" src="../../../assets/img/CES_img_one.jpeg" alt="background_one">
    <img class="imgBackground-Dos" src="../../../assets/img/CES_img_2.jpg" alt="background_two">
  </div>

  <div class="content">
    <div class="container-Header">
      <div class="container-Info">
        <img class="logo-Ces" src="../../../assets/img/CES_logo.jpg" alt="CES_logo">
        <div class="logo-Sistema">
          <p>
            SISTEMA GESTIÓN
            <br>
            EVENTOS
          </p>
        </div>
      </div>
      <div class="container-BtnLogin">
        <button class="btn-Login">
          INGRESAR
        </button>

        <button class="btn-Login" (click)="inscribirse()">
          INSCRIBIRSE
        </button>
      </div>
    </div>

    <div class="container-Main" *ngIf="this.mostrarForm">
      <app-formulario></app-formulario>
    </div>


    <div class="container-Footer">
      <app-footer></app-footer>
    </div>

  </div>

</div>
