.contenedor-Full{
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: none;
}

.fill{
  background-color: #0000007a;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
}

.container-Background{
  height: 100%;
  width: 100%;
}

.container-Background img{

  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
}

.btn-login{
  background: none;
  border-radius: 4px;
  border: 1px solid #e9ecf3;
  font: inherit;
  font-family: var(--font-family);
  font-weight: 600;
  line-height: 1;
  margin: 0.5em;
  padding: 0.65em 2em;
}

.container-Description{
  width: 100%;
  height: 95%;
  display: grid;
  align-items: center;
}

.container-Description .tittle{
  font-size: 50px;
  font-family: var(--font-family);
  text-align: left;
  padding: 0 0 0 30px;
  text-shadow: 0px 2px 5px rgb(0 0 0 / 25%);
  font-weight: var(--font-weight-bold);
  position: absolute;
  bottom: 30%;
  left: 5%;
  border-left: solid 4px var(--bs-dark-red);
  height: 300px;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 998;
}

.imgBackground-Uno{
  -webkit-animation: fade1 12s 6s infinite;
}

.imgBackground-Dos{
  -webkit-animation: fade2 12s 6s infinite;
}

.content{
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container-Header{
  width: 100%;
  height: 13%;
  background: rgb(255 255 255 / 5%);
  backdrop-filter: blur(10px);
  border-bottom: 0.5px solid rgb(255 255 255 / 15%);
  position: static;
}

.container-Main{
  display: grid;
  place-content: center;
  width: 100vw;
  height: 100vh;
}

.container-Header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 5%;
}

.container-Info{
  height: 100%;
  display: flex;
  align-items: center;
}

.logo-Ces{
  width: 115px;
  height: 65px;
}


.logo-Sistema{
  text-transform: uppercase;
  color: #fff;
  border-left: 1px solid #ffffff80;
  padding: 6px 16px;
  margin-left: 16px;
  display: flex;
  align-items: center;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #fff;
  padding: 0;
  font-weight: 700;
  line-height: 1.5;
}

.container-BtnLogin{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.btn-login:hover, .btn-login:focus{
  box-shadow: inset 8em 0 0 0 #E9ECF3;
}

button{
  /* color: var(--color-bg);
  font-weight: var(--font-weight);
  transition: 0.3s;
  height: 50px;
  border-radius: 4px;
  border: none;
  width: 100px;
  cursor: pointer; */
  background-color: #0d6efd; /* Cambiar el color de fondo */
  color: white; /* Cambiar el color de la fuente */
  border: none; /* Eliminar el borde */
  padding: 12px 24px; /* Ajustar el relleno interno */
  text-align: center; /* Centrar el texto */
  text-decoration: none; /* Eliminar subrayado */
  display: inline-block; /* Hacer que el botón se muestre como un bloque */
  font-size: 16px; /* Cambiar el tamaño de la fuente */
  cursor: pointer; /* Cambiar el cursor a una mano cuando se coloca encima */
  border-radius: 4px; /* Agregar bordes redondeados */
}

button:hover, button:focus {
  color: var(--color-blue);
}

span{
  color: var(--color-accent);
}

.container-Footer{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: hidden;
}

@keyframes fade1 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade2 {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  25% {
    opacity: 1;
    transform: scale(1.1);
  }
  50% {
    opacity: 0;
    transform: scale(1);
  }
  75% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
