<div class="full-container">
  <div class="m-3 pb-3 container-Title">
    <div>
      <h3>Mis Apuntes</h3>
    </div>

    <div class="">
      <button class="btn-agg" (click)="openModal('Agregar Apunte')">
        <i class="material-icons">add</i>
        <p>Agregar Apunte</p>
      </button>
    </div>
  </div>

  <div class="container-Main m-3">
    <div class="col-3 container-Left">

      <mat-grid-list cols="1" rowHeight="1:1">
        <div class="card-container">
          <div class="card" *ngFor="let materia of srvMateria.datosMateria, let i = index">
            <div class="flex">
              <mat-card
                class="flex-1 md:flex-none flex align-items-center justify-content-center font-bold border-round custom-card"
                id="mat-Card">
                <button class="btn-mat-card" [style.background-color]="materia.materiaColor">
                  <mat-card-header>
                    <mat-card-title>
                      <h2>
                        {{ materia.nombre }}
                      </h2>
                    </mat-card-title>
                  </mat-card-header>
                </button>
              </mat-card>
            </div>
          </div>
        </div>
      </mat-grid-list>

    </div>

    <div class="col-8 container-Right">
      mundo
    </div>
  </div>
</div>
