<div class="full-container">
  <div class="m-3 pb-3 container-Title">
    <div>
      <h3>Mis Apuntes</h3>
    </div>

    <div class="">
      <button class="btn-agg" (click)="openModal('Agregar Apunte')">
        <i class="material-icons">add</i>
        <p>Agregar Apunte</p>
      </button>
    </div>
  </div>

  <div class="contenedor">
    <div class="columna columna1">
      <mat-grid-list class="container-MatGrid" cols="1" rowHeight="1:2">
        <div class="container-Card" *ngFor="let materia of srvMateria.datosMateria, let i = index">
          <div class="flex justify-content-center column-gap-2">
            <mat-card class="" id="mat-Card">
              <button mat-stroked-button class="container-Btn"
              [style.background-color]="materia.materiaColor">
                <mat-card-content class="mat-Content">
                  <span class="span-Text">
                    {{ materia.nombre }}
                  </span>
                </mat-card-content>
              </button>
            </mat-card>
          </div>
        </div>
      </mat-grid-list>
    </div>
    <div class="columna columna2">
      <!-- Contenido de la columna 2 -->
    </div>
  </div>



</div>

