.container-Title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid var(--secondary-color);
}

.container-Main{
  display: flex;
  gap: 1rem;
}

.container-Left, .container-Right{
  border: 0.5px solid var(--secondary-color);
  border-radius: 6px;
}

