<div class="full-container">
  <div class="m-3 pb-3 container-Title">
    <div>
      <h3>Mis Apuntes</h3>
    </div>

    <div class="">
      <button class="btn-agg" (click)="openModal('Agregar Apunte')">
        <i class="material-icons">add</i>
        <p>Agregar Apunte</p>
      </button>
    </div>
  </div>

  <div class="contenedor">
    <!-- <div class="columna columna1">
      </div>
      <div class="columna columna2">
      </div> -->

    <div class="container-Table w-12" *ngFor="let apunte of srvApuntes.datosApuntes, let i = index">



    </div>
  </div>
</div>

