<form [formGroup]="materiaForm" >
  <p>Día {{this.dia}} de {{ this.hora}} a {{this.addHoursToTime(this.hora, 1)}}</p>
    <label>Seleccione una Meteria</label>
    <mat-form-field>
      <mat-label>Seleccione una Opción</mat-label>
      <mat-select [(value)]="selected">
        <mat-option [value]="-1" >Ninguna</mat-option>
        <mat-option [value]="mat" *ngFor="let mat of srvMateria.datosMateria">{{mat.nombre}}</mat-option>
      </mat-select>
    </mat-form-field>

      <button mat-raised-button color="primary" (click)="onSubmit()">Guardar</button>
</form>
