<form [formGroup]="materiaForm" >
    <label>Seleccione una Meteria</label>
    <mat-form-field>
      <mat-label>Select an option</mat-label>
      <mat-select [(value)]="selected">
        <mat-option>Ninguna</mat-option>
        <mat-option [value]="mat" *ngFor="let mat of srvMateria.datosMateria">{{mat.nombre}}</mat-option>
      </mat-select>
    </mat-form-field>
      
      <p>You selected: {{selected}}</p>

      <button mat-raised-button color="primary" (click)="onSubmit()">Guardar</button>
</form>
