<div class="grid p-1 m-3 container-Main">
  <div class="col-12 p-2 ">
    <div class="grid">
      <label for="" class="lbl-Title col-12">Configuración de la Cuenta</label>
      <label for="" class="lbl-Hint col-12">Administra los datos de tu cuenta</label>
    </div>
  </div>

  <form class="grid col-12 p-2" [formGroup]="myForm">

    <div class="col-12">
      <label for="" class="lbl-Info">Información de la cuenta</label>
    </div>

    <div class="grid col-12">

      <div class="col flex align-content-center">
        <mat-form-field>
          <mat-label>Nombre(s)</mat-label>
          <input matInput placeholder="Ex. Juan" formControlName="nombre">
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field >
          <mat-label>Apellido(s)</mat-label>
          <input matInput placeholder="Ex. Morales" formControlName="apellido">
        </mat-form-field>
      </div>
    </div>

    <div class="grid col-12">

      <div class="col">
        <mat-form-field>
          <mat-label >Email</mat-label>
          <input matInput placeholder="pat@example.com" [formControl]="email" formControlName="correo">
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field>
          <mat-label>Contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="contrasena">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>

    </div>

    <div class="grid col-12 align-items-baseline">

      <div class="col">
        <mat-form-field hintLabel="Max 10 characters" class="">
          <mat-label>Telefono</mat-label>
          <input matInput #input maxlength="10" placeholder="Ex. Nougat" formControlName="telefono">
          <mat-icon matSuffix>call</mat-icon>
          <mat-hint align="end">{{input.value.length}}/10</mat-hint>
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field class="">
          <mat-label>Nivel de Educación</mat-label>
          <input matInput placeholder="Ex. Juan" formControlName="nivelEstudio"  [readonly]="true" class="blocked-input">
        </mat-form-field>
      </div>
    </div>

    <div class="col-12 sm:col-6">
      <mat-form-field>
        <mat-label>Pais</mat-label>
        <input matInput placeholder="Ex. Juan" [value]="this.paisName"  [readonly]="true" class="blocked-input">
      </mat-form-field>
    </div>

    <div class="col-12">
      <button mat-stroked-button class="btn-Save" (click)="updateAccount()" [disabled]="myForm.invalid">
        Guardar Cambios
      </button>
    </div>

  </form>

</div>
